<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LDZ</title>
    {% for style in styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename=style) }}">
    {% endfor %}
</head>
<body>
    <div class="topnav">
        <div id="left_group">
            <div class="button" onclick="openSide()">&#9776;</div>
        </div>
        <div id="right_group">
            {% if current_user.admin %}
            <div class="menu">
                <div class="button">admin &#8964;</div>
                <div class="content">
                    <div class="item" href="{{ url_for('user.view') }}">users</div>
                </div>
            </div>
            {% endif %}
            <div class="menu">
                <div class="button">{{ current_user.username }} &#8964;</div>
                <div class="content">
                    <div class="item" href="{{ url_for('main.settings') }}">settings</div>
                    <div class="item" href="{{ url_for('auth.login') }}">logout</div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="side" class="side">
        <a href="javascript:void(0)" class="sidebtn" onclick="closeSide()">&times;</a><br>
        <a href="{{ url_for('main.home') }}">Home</a>
        {% for category in options %}
            <div class="sep">{{ category|capitalize }}</div>
                {% for type in options[category] %}
                <a href="{{ url_for('main.data', category=category, type=type) }}">{{ type|upper }}</a>
                {% endfor %}
        {% endfor %}
    </div>
    
    <div id="main">
        <br><br>
        {% block main %}{% endblock %}
    </div>

    <script>
        function openSide() {
            document.getElementById("side").style.width = "200px";
        }
        function closeSide() {
            document.getElementById("side").style.width = "0";
        }
    </script>
</body>
</html>
