<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LDZ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="top">
        <a onclick="openSide()">&#9776;</a>
        <div class="menu">
            <button class="menubtn">{{ current_user.username }} &#8964;</button>
            <div class="menu-content">
                <a href="{{ url_for('main.settings') }}">settings</a>
                <a href="{{ url_for('auth.login') }}">logout</a>
            </div>
        </div>
        {% if current_user.admin %}
        <div class="menu">
            <button class="menubtn">admin &#8964;</button>
            <div class="menu-content">
                <a href="{{ url_for('user.view') }}">users</a>
            </div>
        </div>
        {% endif %}
    </div>
    <div id="side" class="side">
        <a href="javascript:void(0)" class="sidebtn" onclick="closeSide()">&times;</a><br>
        <a href="{{ url_for('main.home') }}">Home</a>
        {% for category in options %}
            <div class="sep">{{ category|capitalize }}</div>
                {% for type in options[category] %}
                <a href="{{ url_for('main.data', category=category, type=type) }}">{{ type|upper }}</a>
                {% endfor %}
        {% endfor %}
    </div>
    
    <div id="main">
        <br><br>
        {% block main %}{% endblock %}
    </div>

    <script>
        function openSide() {
            document.getElementById("side").style.width = "200px";
        }
        function closeSide() {
            document.getElementById("side").style.width = "0";
        }
    </script>
</body>
</html>
