{% extends "_base.html" %}

{% block main %}
<br>
<div class="date-picker">
  <input id="year" type="number" min="2000" max="2099" step="1" value="2022" />
  <div id="months">
    <input type="button" value="Jan">
          <input type="button" value="Feb">
          <input type="button" value="Mar">
          <input type="button" value="Apr">
          <input type="button" value="May">
          <input type="button" value="Jun">
          <input type="button" value="Jul">
          <input type="button" value="Aug">
          <input type="button" value="Sep">
          <input type="button" value="Oct">
          <input type="button" value="Nov">
          <input type="button" value="Dec">
  </div>
</div>

<div>
  {% for category in options %}
    <div class="graphs-row">
      {% for type in options[category] %}
        <div id="{{ category }}:{{ type }}"></div>
      {% endfor %}
    </div>
  {% endfor %}
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
  function capitalise(string) {
    return string.charAt(0).toUpperCase() + string.slice(1);
  }

  function updateCharts() {
    var year = document.getElementById('year').value;
    var month = document.querySelector('#months .active').value;
    fetch(`{{ url_for('main.get_charts')}}/${year}/${month}`)
      .then(response => response.json())
      .then(data => {
        for (var id in data) {
          Plotly.react(id, data[id].data, data[id].layout, {displayModeBar: false});
        }
      });
  };

  var monthButtons = document.querySelectorAll('#months button');
  monthButtons.forEach(function(button) {
    button.addEventListener('click', function() {
      // Act as toggle bar
      monthButtons.forEach(function(btn) {
        btn.classList.remove('active');
      });
      button.classList.add('active');

      updateCharts();
    });
  });

  // Default behaviour
  var date = new Date();
  var currentYear = date.getFullYear();
  var currentMonth = capitalise(date.toLocaleString('default', { month: 'long' }));

  document.getElementById('year').value = currentYear;

  monthButtons.forEach(function(button) {
    if (button.value == currentMonth) {
      button.classList.add('active');
    }
  });

  updateCharts();
</script>
{% endblock %}