{% extends "_layout.html" %}

{% block main %}
<table class="table">
    <thead>
        <tr>
        {% for header in headers %}
            <th>{{ header }}</th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for row in table %}
        <tr onclick="remove(this)">
        {% for entry in row %}
            <td>{{ entry }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    function remove(row) {
        idx = row.rowIndex - 1;
        url = `{{ url_for('data.remove', category=category, type=type) }}/${idx}`;
        window.location.replace(url);
    }
</script>
{% endblock %}