{% extends "_base.html" %}

{% block main %}
<h1>Edit User</h1>
<form method="POST" action="/user/edit/{{ idx }}">
    <label for="password_new">New Password:</label>
    <input type="password" id="password_new" name="password_new" required><br>

    <label for="password_check">Confirm Password:</label>
    <input type="password" id="password_check" name="password_check" required><br>

    <a>
    <input type="submit" value="Change">
    </a>

    <a href="{{ url_for('user.remove', idx=''+idx) }}">
    <input type="button" value="Remove">
    </a>
</form>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% endblock %}