table {
    width: 100%;

    border-collapse: collapse;

    --sep: var(--text2);
    --active: var(--text2);
}

table th,
table td {
    padding: 10px;

    text-align: left;

    border-bottom: 1px solid var(--sep);
}

table tbody tr:hover {
    cursor: pointer;

    background-color: var(--active);
}
