{% extends "_layout.html" %}

{% block main %}
<div class="charts">
  <div class="select">
    <input name="month" type="month">
    <select name="category:type">
    {% for category in options %}
      <optgroup label="{{ category|capitalize }}">
      {% for type in options[category] %}
          <option value="{{ category }}:{{ type }}">{{ type|upper }}</option>
      {% endfor %}
      </optgroup>
    {% endfor %}
    </select>
  </div>
  <div id="chart" class="chart"></div>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
  let delay = parseFloat(window.getComputedStyle(document.getElementById('chart')).transitionDuration) * 1000;
  function charts() {
    let [category, type] = document.querySelector('select[name="category:type"]').value.split(':');
    let month = document.querySelector('input[name="month"]').value;

    let url = `{{ url_for('home.charts') }}/${category}/${type}/${month}`;

    let charts = document.querySelectorAll('.chart');
    charts.forEach(chart => {
      chart.classList.toggle('hide');
    });

    setTimeout(() => {
      fetch(url)
        .then(response => response.json())
        .then(data => {
          let config = {displayModeBar: false};

          charts.forEach((chart, idx) => {
            Plotly.newPlot(chart, data[idx].data, data[idx].layout, config);

            setTimeout(() => {
              chart.classList.toggle('hide');
            }, delay);
          });
        })
        .catch(error => console.error('Error:', error));
    }, delay); 
  }
  document.querySelector('select[name="category:type"]').addEventListener('change', charts);
  document.querySelector('input[name="month"]').addEventListener('change', charts);

  document.querySelector('input[name="month"]').value = `${new Date().getFullYear()}-${(new Date().getMonth() + 1).toString().padStart(2, '0')}`;
  charts();
</script>
{% endblock %}