body {
	margin: 0;
	background-color: var(--text1);
	padding: 0;
	text-align: center;
	font-family: Arial, sans-serif;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

body::-webkit-scrollbar {
	display: none;
}

h1 {
	margin-top: 20px;
	color: var(--text3);
}

ul {
	list-style-type: none;
	margin-top: 10px;
	color: red;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th,
td {
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid var(--text2);
}

tbody tr:hover {
	cursor: pointer;
	background-color: var(--text2);
}

form {
	margin: 0 auto;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	background-color: var(--text1);
	padding: 20px;
	width: 400px;
	text-align: left;
}

label {
	display: block;
	margin-bottom: 5px;
}

input,
select {
	background-color: #ffffff;
	margin-bottom: 10px;
	border: 1px solid var(--text3);
	border-radius: 5px;
	padding: 10px;
	width: 95%;
}

input[type="button"],
input[type="submit"] {
	border: none;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px 20px;
	color: var(--text1);
	width: 100px;
}

input[type="button"] {
	background-color: var(--text2);
}

input[type="button"]:hover,
input[type="button"]:active {
	background-color: var(--text3);
}

input[type="submit"] {
	background-color: var(--button_inactive);
}

input[type="submit"]:hover {
	background-color: var(--button_active);
}



.graphs-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.graphs-row>div {
	display: flex;
	flex-direction: column;
	margin: 10px;
}



.month_picker {
	display: flex;
	/* Arrange the children in a row */
	justify-content: space-between;
	/* Add space between the children */
	align-items: center;
	/* Align the children vertically */
}

#year {
	width: 100px;
	/* Set a fixed width for the year select */
}

.months button {
	margin-right: 5px;
	/* Add some space to the right of each button */
}