/* --------------------------------- Colours -------------------------------- */

:root {
	--text1: #f4f4f4;
	--text2: #818181;
	--text3: #111111;
	--button_inactive: #007bff;
	--button_active: #0056b3;
	--top: #333333;
}

/* --------------------------------- Common --------------------------------- */

body {
	margin: 0;
	background-color: var(--text1);
	padding: 0;
	text-align: center;
	font-family: Arial, sans-serif;
	-ms-overflow-style: none;
  	scrollbar-width: none;
}
body::-webkit-scrollbar {
	display: none;
}

h1 {
	margin-top: 20px;
	color: var(--text3);
}

ul {
	list-style-type: none;
	margin-top: 10px;
	color: red;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th,
td {
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid var(--text2);
}

tbody tr:hover {
	cursor: pointer;
	background-color: var(--text2);
}

form {
	margin: 0 auto;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	background-color: var(--text1);
	padding: 20px;
	width: 400px;
	text-align: left;
}

label {
	display: block;
	margin-bottom: 5px;
}

input,
select {
	background-color: #ffffff;
	margin-bottom: 10px;
	border: 1px solid var(--text3);
	border-radius: 5px;
	padding: 10px;
	width: 95%;
}

input[type="button"],
input[type="submit"] {
	border: none;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px 20px;
	color: var(--text1);
	width: 100px;
}

input[type="button"] {
	background-color: var(--text2);
}

input[type="button"]:hover {
	background-color: var(--text3);
}

input[type="submit"] {
	background-color: var(--button_inactive);
}

input[type="submit"]:hover {
	background-color: var(--button_active);
}

/* --------------------------------- Top Bar -------------------------------- */

.top {
	position: fixed;
	width: 100%;
	background-color: var(--top);
}

.top a {
	float: left;
	font-size: 16px;
	color: var(--text2);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.menu {
	float: right;
	overflow: hidden;
}

.menu .menubtn {
	font-size: 16px;
	border: none;
	color: var(--text2);
	padding: 14px 16px;
	background-color: inherit;
	width: 100px;
}

.top a:hover,
.menu:hover .menubtn {
	background-color: var(--text1);
	cursor: pointer;
}

.menu-content {
	display: none;
	position: absolute;
	background-color: var(--top);
	width: 100px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.menu-content a {
	float: none;
	color: var(--text2);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.menu-content a:hover {
	background-color: var(--text1);
}

.menu:hover .menu-content {
	display: block;
}

/* -------------------------------- Side Bar -------------------------------- */

.side {
	position: fixed;
	top: 0;
	left: 0;
	transition: 0.5s;
	z-index: 1;
	background-color: var(--text3);
	padding-top: 60px;
	width: 0;
	height: 100%;
	overflow-x: hidden;
}

.side a {
	display: block;
	transition: 0.3s;
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	color: var(--text2);
	font-size: 25px;
}

.side a:hover {
	color: var(--text1);
}

.side .sidebtn {
	position: absolute;
	top: 0;
	right: 25px;
	margin-left: 50px;
	font-size: 36px;
}

.side .sep {
	display: flex;
	position: relative;
	padding: 5px;
	color: var(--text2);
	font-size: 10px;
}

.side .sep::before,
.side .sep::after {
	align-self: center;
	background-color: var(--text2);
	height: 1px;
	content: "";
}

.side .sep::before {
	margin-right: 5px;
	width: 10px;
}

.side .sep::after {
	margin-left: 5px;
	width: 100%;
}

/* ------------------------------ Main Content ------------------------------ */

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
	transition: margin-left .5s;
	padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the side (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.side {
		padding-top: 15px;
	}

	.side a {
		font-size: 18px;
	}
}

/* ---------------------------- Appointment Form ---------------------------- */

.wrapper1 {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 5px 20px;
	width: 95%
}

.wrapper2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5px 20px;
	width: 95%
}

.wrapper3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 5px 20px;
	width: 95%
}

.wrapper4 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 5px 20px;
	width: 95%
}

.wrapper5 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 5px 20px;
	width: 95%
}
