.top {
	position: fixed;
	width: 100%;
	background-color: var(--top);
}

.top a {
	float: left;
	font-size: 16px;
	color: var(--text2);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.menu {
	float: right;
	overflow: hidden;
}

.menu .menubtn {
	font-size: 16px;
	border: none;
	color: var(--text2);
	padding: 14px 16px;
	background-color: inherit;
	width: 100px;
}

.top a:hover,
.menu:hover .menubtn {
	background-color: var(--text1);
	cursor: pointer;
}

.menu-content {
	display: none;
	position: absolute;
	background-color: var(--top);
	width: 100px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.menu-content a {
	float: none;
	color: var(--text2);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.menu-content a:hover {
	background-color: var(--text1);
}

.menu:hover .menu-content {
	display: block;
}