.topnav {
    position: fixed;
    z-index: 8;

    display: flex;
    justify-content: space-between;

    width: 100%;

    background-color: var(--bg);

    --bg: var(--topnav);
    --txt: var(--text2);
    --txt-active: var(--text1);
}

.topnav > div {
    display: flex;
}

.topnav .button {
    font-size: 16px;

    padding: 14px 16px;

    text-align: center;
    text-decoration: none;

    color: var(--txt);
}

.topnav .menu {
    position: relative;
}

.topnav .menu .button {
    font-size: 16px;

    width: 100px;
    padding: 14px 0;

    color: var(--txt);
    border: none;
    background-color: inherit;
}

.topnav .menu .content {
    position: absolute;
    z-index: 1;
    top: 100%;
    right: 0;

    display: none;

    width: 100px;

    background-color: var(--bg);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.topnav .menu:hover .content {
    display: block;
}

.topnav .menu .content .item {
    display: block;

    padding: 12px 16px;

    text-align: left;
    text-decoration: none;

    color: var(--txt);
}

.topnav .button:hover,
.topnav .menu:hover .button,
.topnav .menu .content .item:hover {
    cursor: pointer;

    background-color: var(--txt-active);
}
